In [1]:
import math
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score
import time
import redis
from flask import current_app

In [2]:
data = pd.read_csv('./ml_3000.csv')

In [3]:
data.head(20)

                    Text     G/L
0    Investment Increase   45604
1    Investment Increase   45604
2                    INV  113100
3                  CHECK  113101
4           Hilfs Loehne  421000
5         Salaries Wages  430000
6     Mehrarbeit Gehlter  431000
7   Kraftfahrzeug Steuer  464000
8     Basic rent own use  470000
9   Own use OC flat rate  470000
10    Basic rent own use  470000
11  Own use OC flat rate  470000
12    Basic rent own use  470000
13  Own use OC flat rate  470000
14    Basic rent own use  470000
15  Own use OC flat rate  470000
16    Basic rent own use  470000
17  Own use OC flat rate  470000
18    Basic rent own use  470000
19  Own use OC flat rate  470000

In [4]:
tfidf = TfidfVectorizer(ngram_range=(1,3), use_idf=True)

In [5]:
tfidf_matrix = tfidf.fit_transform(data['Text'])

cosine_similarities = linear_kernel(tfidf_matrix, tfidf_matrix)

for idx, row in data.iterrows():
            similar_indices = cosine_similarities[idx].argsort()[:-100:-1]
            similar_items = [(cosine_similarities[idx][i], data['G/L'][i])
                             for i in similar_indices]

            flattened = sum(similar_items[1:],())

In [6]:
similarities = list()
item_id = list()
for i in range(0,len(flattened),2): 
    similarities.append(flattened[i]) # Collecting similarity scores and 
    item_id.append(flattened[i-1])

In [7]:
print("Similar Product Id's:",similar_items)

Similar Product Id's: [(1.0, 888900), (1.0, 888900), (1.0, 888900), (1.0, 888900), (1.0, 888900), (1.0, 888900), (1.0, 888900), (0.8054370400407993, 470000), (0.8054370400407993, 470000), (0.8054370400407993, 470000), (0.8054370400407993, 470000), (0.8054370400407993, 470000), (0.8054370400407993, 470000), (0.357845024289353, 888900), (0.357845024289353, 888900), (0.357845024289353, 888900), (0.357845024289353, 888900), (0.357845024289353, 888900), (0.357845024289353, 888900), (0.14528626927585059, 470000), (0.14528626927585059, 470000), (0.14528626927585059, 470000), (0.14528626927585059, 470000), (0.14528626927585059, 470000), (0.14528626927585059, 470000), (0.12101635359398295, 888900), (0.12101635359398295, 888900), (0.12101635359398295, 888900), (0.12101635359398295, 888900), (0.12101635359398295, 888900), (0.059765509151178287, 841070), (0.059765509151178287, 841070), (0.059765509151178287, 841070), (0.059765509151178287, 841070), (0.059765509151178287, 841070), (0.059765509151178287, 841070), (0.0, 113101), (0.0, 45604), (0.0, 464000), (0.0, 431000), (0.0, 430000), (0.0, 421000), (0.0, 113100), (0.0, 474221), (0.0, 472000), (0.0, 473000), (0.0, 473110), (0.0, 473120), (0.0, 474100), (0.0, 474210), (0.0, 474211), (0.0, 474220), (0.0, 474231), (0.0, 476300), (0.0, 476500), (0.0, 476900), (0.0, 479000), (0.0, 45604)]

In [8]:
sol = pd.DataFrame({'G/L':item_id,'similarities':similarities})
predictions = sol.merge(data,how='inner',on='G/L')[:10] # using merge to get description

In [9]:
predictions

      G/L  similarities                         Text
0   45604           1.0          Investment Increase
1   45604           1.0          Investment Increase
2   45604           0.0          Investment Increase
3   45604           0.0          Investment Increase
4  888900           1.0          Basic rent transfer
5  888900           1.0   OC flat rate trsfr own use
6  888900           1.0  Transfer basic rent own use
7  888900           1.0          Basic rent transfer
8  888900           1.0   OC flat rate trsfr own use
9  888900           1.0  Transfer basic rent own use

In [11]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [12]:
le.fit(data['G/L'])

LabelEncoder()

In [17]:
Product_Class=le.transform(data['G/L'])
print(Product_Class)

[ 0  0  1  2  3  4  5  6  7  7  7  7  7  7  7  7  7  7  7  7  8  9 10 11 12
 13 14 15 16 17 18 19 20 21 22 22 22 22 22 22 23 23 23 23 23 23 23 23 23 23
 23 23 23 23 23 23 23 23]

In [21]:
sol = pd.DataFrame({'G/L':item_id,'similarities':similarities})

In [22]:
sol

       G/L  similarities
0    45604      1.000000
1   888900      1.000000
2   888900      1.000000
3   888900      1.000000
4   888900      1.000000
5   888900      1.000000
6   888900      0.805437
7   470000      0.805437
8   470000      0.805437
9   470000      0.805437
10  470000      0.805437
11  470000      0.805437
12  470000      0.357845
13  888900      0.357845
14  888900      0.357845
15  888900      0.357845
16  888900      0.357845
17  888900      0.357845
18  888900      0.145286
19  470000      0.145286
20  470000      0.145286
21  470000      0.145286
22  470000      0.145286
23  470000      0.145286
24  470000      0.121016
25  888900      0.121016
26  888900      0.121016
27  888900      0.121016
28  888900      0.121016
29  888900      0.059766
30  841070      0.059766
31  841070      0.059766
32  841070      0.059766
33  841070      0.059766
34  841070      0.059766
35  841070      0.000000
36  113101      0.000000
37   45604      0.000000
38  464000      0.000000
39  431000      0.000000
40  430000      0.000000
41  421000      0.000000
42  113100      0.000000
43  474221      0.000000
44  472000      0.000000
45  473000      0.000000
46  473110      0.000000
47  473120      0.000000
48  474100      0.000000
49  474210      0.000000
50  474211      0.000000
51  474220      0.000000
52  474231      0.000000
53  476300      0.000000
54  476500      0.000000
55  476900      0.000000
56  479000      0.000000

In [23]:
predictions = sol.merge(data,how='inner',on='G/L')[:10] # using merge to get description

## Final Similarities between the Product IDs and Descriptions

In [26]:
predictions

      G/L  similarities                         Text
0   45604           1.0          Investment Increase
1   45604           1.0          Investment Increase
2   45604           0.0          Investment Increase
3   45604           0.0          Investment Increase
4  888900           1.0          Basic rent transfer
5  888900           1.0   OC flat rate trsfr own use
6  888900           1.0  Transfer basic rent own use
7  888900           1.0          Basic rent transfer
8  888900           1.0   OC flat rate trsfr own use
9  888900           1.0  Transfer basic rent own use